.aboutcontents {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
}

.picturecontents {
  display:flex;
  flex-direction:row;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.picinfo {
  background-color: #2A4670; /*darker sky blue*/
  padding: 20px;
  text-align: left;
  line-height: 3.5;
}

#smallertext {
  line-height: 2;
}

.aboutpicture img {
  height: 330px;
  width: 100%;
}

.explanation {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
}

.explanation h1 {
  color: #FFAD05; /*dark yellow */
  text-transform: uppercase;
  font-size: 20px;
}
