body {
  background-color: #DAEDDD; /*light gray*/
  border 0;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  display: inline;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.orgheader h1 {
  display: flex;
  justify-content: center;
  color: #FFAD05; /*dark yellow */
  font-size: 30px;
  margin-top: 20px;
}

.navbar { /*TODO: current tab highlighed later*/
  display:flex;
  background-color: #5084D3; /*sky blue*/
  justify-content: space-between;
}

.navbar a {
  padding: 14px 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover { /*TODO: improve later where it highlights entire box*/
  background-color: #2A4670; /*darker sky blue*/
}

.dropbutton {
  padding: 14px 15px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-size: 20px;
  font-family: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display:block;
}

.dropdown-content a:hover {
  background-color: #2A4670; /*darker sky blue*/
}

.dropdown:hover .dropdown-content {
  background-color: #ddd;
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: #2A4670; /*darker sky blue*/
}

#left {
  margin-left: 300px;
}

#right {
  margin-right: 300px;
}

#top {
  margin-top: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #51778E; /*dark blue*/

}

.footer a {
  display: flex;
  flex-direction: column;
  margin: 7px;
